<!DOCTYPE html>
<html>
<head>
<title>BJJ</title>
<link rel="stylesheet" type="text/css" href="Content/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="Content/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="Content/css/bootstrap-theme.css" />
<link rel="stylesheet" type="text/css" href="Content/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="Content/css/font-awesome.min.css" />

<script type="text/javascript" src="Content/scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="Content/scripts/bootstrap.js"></script>
<script type="text/javascript" src="Content/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="Content/scripts/home.js"></script>
		
</head>
   
<body>

    @RenderBody()
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand" href="#"><img src="">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#">Home</a>
                    </li>
                </ul>
                <!--<ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/Login.cshtml">Sing Up</a>
                    </li>
                </ul>-->
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="row">
        <div class="col-md-9">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h1>BJJ</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultrices, erat vel ullamcorper convallis, est risus mollis nulla, vel laoreet leo sapien sit amet tellus. Duis lobortis nisl at mauris suscipit, ac lacinia elit volutpat. Fusce aliquet arcu diam, at iaculis velit pharetra eu. Praesent mollis erat dui, nec vehicula mauris consectetur sit amet. Duis luctus, urna eget sollicitudin semper, libero purus consequat lectus, non tincidunt mi odio nec augue. Duis gravida gravida tortor, placerat elementum nunc placerat quis. Ut mi diam, placerat imperdiet congue eget, suscipit in enim. Duis nec mauris commodo enim gravida pulvinar in non enim. Pellentesque varius vel risus congue vulputate. Nunc id cursus est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean mattis eget quam sed aliquam. Sed pretium in lorem eget blandit. Aliquam bibendum est id arcu pharetra, nec mattis turpis facilisis. Quisque semper elit dolor, vitae pellentesque diam posuere in. Nam volutpat tortor eget tristique efficitur.</p>

                <p>Phasellus id erat vel lorem luctus iaculis vitae id nulla. Phasellus sit amet lorem at quam lobortis ornare quis vel ante. Vestibulum ultrices nibh vitae quam mollis faucibus. Praesent id nisi euismod, euismod lorem eget, fermentum risus. Praesent vulputate eu est ac suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam eget dignissim ex. Aenean ut mollis mauris. Cras id mauris felis. Nam elementum lacinia turpis, vitae semper justo egestas ac. Nullam condimentum posuere lacus quis pretium. Praesent facilisis molestie mauris quis pulvinar. Vivamus gravida mattis nulla eu accumsan.</p>

                <p>Mauris nulla sapien, euismod et lacinia id, volutpat finibus massa. Nunc tincidunt sit amet tortor non elementum. Phasellus consectetur massa finibus, accumsan dolor sit amet, mattis orci. Fusce ipsum neque, posuere vitae vehicula eget, scelerisque sed magna. Suspendisse malesuada risus in cursus egestas. Proin varius vehicula sem vitae facilisis. Nullam eget nisi consectetur, viverra erat sed, condimentum felis. Mauris elementum tincidunt tristique. Curabitur at diam eu lacus lacinia ullamcorper pellentesque in nisl. Vestibulum non rhoncus felis. Aliquam nec auctor quam, non sagittis metus. Nulla a dapibus mauris. Donec nisi odio, ullamcorper eu dui sit amet, varius malesuada neque. Curabitur elementum tincidunt turpis sit amet lacinia. Curabitur augue leo, scelerisque sit amet molestie ac, ullamcorper sed eros.</p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="col-md-3" style="margin-left: -10pt;">

            <div id="login">
                <div class="panel panel-default">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        <label>Login</label>
                        <input type="text" class="form-control" id="login" />
                        <br/>
                        <label>Senha</label>
                        <input type="password" class="form-control" id="passwordLogin" />
                        <br/>
                        <button class="btn btn-success" onclick="login();">Login</button>
                        <hr/>
                        <p style="text-align: center;">Don't have an account yet?</p>
                        <p style="text-align: center;">Create a new one <a href="javascript:goToSignUp()">here</a>!</p>
                    </div>
                </div>
            </div>

            <div id="signUpForm">
                <div class="panel panel-default">
                    <div class="panel-heading">Sign Up</div>
                    <div class="panel-body">
                        <label>Academy Name</label>
                        <input type="text" class="form-control" id="academyName"/>
                        <br/>
							<label>Academy Email</label>
                        <input type="text" class="form-control" id="academyEmail"/>
                        <br/>
							<label>Password</label>
                        <input type="password" class="form-control" id="password"/>
                        <br/>
                        <label>Street</label>
                        <input type="text" class="form-control" id="street"/>
							<br/>
							<label>Zip Code</label>
                        <input type="text" class="form-control" id="zipCode"/>
                        <br/>
							<label>Country</label>
                        <select class="form-control" id="country">
					        <option>Brazil</option>
					        <option>USA</option>
					        <option>Argentina</option>
					        <option>Mexico</option>
					      </select>
                        <br/>
							<a href="javascript:signUp();" class="btn btn-success">Sign Up</a>                        
							<hr/>
                        <p style="text-align: center;">Already have a account?</p>
                        <p style="text-align: center;">Login <a href="javascript:goToLogin()">here</a>!</p>

							<div class="alert alert-success alert-dismissable" id="successSignInDiv">
						  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						  <strong>Success!</strong><span id="successMsgSignIn"></span>
						</div>

							<div class="alert alert-danger fade in" id="errorSignInDiv">
						  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						  <strong>Error!</strong><span id="errorMsgSignIn"></span>
						</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>